In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from bs4 import BeautifulSoup 
import requests

In [156]:
# Especifica la ruta de tu archivo CSV
ruta_archivo = "C:\\Users\\Dr-Pc\\OneDrive\\Escritorio\\PROYECTO INDIVIDUAL NÂ°2 Siniestros Viales\\Siniestros viales\\poblacion.csv"

# Carga el archivo CSV en un DataFrame
df_poblacion = pd.read_csv(ruta_archivo)

In [157]:
df_poblacion

,Unnamed: 0,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021,Poblacion 2022
0,0,13,231331,14.64,247686,250522,253391,256292,259227,262195,265197.8584
1,1,14,225970,10.19,237203,239129,241071,243028,245001,246990,248996.3430
2,2,12,200116,18.07,217446,220476,223550,226666,229825,233028,236276.9612
3,3,4,218245,5.81,224495,225554,226618,227687,228761,229840,230925.0345
4,4,1,205886,8.44,214398,215850,217313,218785,220267,221760,223262.7784
5,5,7,220591,-1.70,218707,218395,218083,217772,217461,217151,216840.9530
6,6,8,187237,9.40,195839,197311,198793,200287,201793,203309,204837.2780
7,7,6,176076,15.73,189418,191738,194087,196464,198871,201307,203772.7548
8,8,11,189832,7.19,196538,197678,198825,199979,201139,202306,203480.9208
9,9,15,182574,8.39,190078,191359,192648,193946,195252,196567,197891.9586
10,10,3,187537,4.22,191453,192113,192776,193441,194109,194778,195451.0614
11,11,5,179005,8.29,186277,187517,188766,190023,191288,192562,193844.5145
12,12,10,166022,3.47,168877,169358,169840,170324,170809,171295,171782.9634
13,13,9,161797,4.78,165618,166264,166912,167563,168216,168872,169530.8966
14,14,2,157932,0.27,158145,158180,158216,158251,158287,158322,158358.4164

In [158]:
# Eliminamos la primer fila que contiene el tÃ­tulo de las columnas
df_poblacion = df_poblacion.drop(df_poblacion.index[0])

# Limpieza de la columna 'Poblacion 2022' antes de convertir a int
df_poblacion['Poblacion 2022'] = df_poblacion['Poblacion 2022'].replace('\xa0', '', regex=True)

# Convertimos la columna 'Poblacion 2022' a int despuÃ©s de la limpieza
df_poblacion['Poblacion 2022'] = df_poblacion['Poblacion 2022'].astype(int)

# PoblaciÃ³n total de 2022
censo_2022 = 3120612

# Tasa de crecimiento total entre 2010 y 2022
tasa_crecimiento_total = 7.97 / 100

# Calcular la tasa de crecimiento anual
tasa_crecimiento_anual = (1 + tasa_crecimiento_total) ** (1 / 12) - 1

# Crear una nueva columna con los valores estimados para 2021
df_poblacion['Poblacion 2021'] = df_poblacion['Poblacion 2022'] / (1 + tasa_crecimiento_anual)

In [159]:
df_poblacion

,Unnamed: 0,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021,Poblacion 2022
1,1,14,225970,10.19,237203,239129,241071,243028,245001,247409.921777,248996
2,2,12,200116,18.07,217446,220476,223550,226666,229825,234770.946834,236276
3,3,4,218245,5.81,224495,225554,226618,227687,228761,229454.032139,230925
4,4,1,205886,8.44,214398,215850,217313,218785,220267,221839.844640,223262
5,5,7,220591,-1.70,218707,218395,218083,217772,217461,215458.752101,216840
6,6,8,187237,9.40,195839,197311,198793,200287,201793,203532.209944,204837
7,7,6,176076,15.73,189418,191738,194087,196464,198871,202473.993881,203772
8,8,11,189832,7.19,196538,197678,198825,199979,201139,202183.853890,203480
9,9,15,182574,8.39,190078,191359,192648,193946,195252,196630.455230,197891
10,10,3,187537,4.22,191453,192113,192776,193441,194109,194205.997772,195451
11,11,5,179005,8.29,186277,187517,188766,190023,191288,192609.234193,193844
12,12,10,166022,3.47,168877,169358,169840,170324,170809,170687.766803,171782
13,13,9,161797,4.78,165618,166264,166912,167563,168216,168450.111805,169530
14,14,2,157932,0.27,158145,158180,158216,158251,158287,157349.276265,158358

In [160]:
def clean_data(df):
    # Change column type to int64 for column: 'CENSO 2021'
    df = df.astype({'Poblacion 2021': 'int64'})
    return df

df_poblacion = clean_data(df_poblacion)
df_poblacion

,Unnamed: 0,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021,Poblacion 2022
1,1,14,225970,10.19,237203,239129,241071,243028,245001,247409,248996
2,2,12,200116,18.07,217446,220476,223550,226666,229825,234770,236276
3,3,4,218245,5.81,224495,225554,226618,227687,228761,229454,230925
4,4,1,205886,8.44,214398,215850,217313,218785,220267,221839,223262
5,5,7,220591,-1.70,218707,218395,218083,217772,217461,215458,216840
6,6,8,187237,9.40,195839,197311,198793,200287,201793,203532,204837
7,7,6,176076,15.73,189418,191738,194087,196464,198871,202473,203772
8,8,11,189832,7.19,196538,197678,198825,199979,201139,202183,203480
9,9,15,182574,8.39,190078,191359,192648,193946,195252,196630,197891
10,10,3,187537,4.22,191453,192113,192776,193441,194109,194205,195451
11,11,5,179005,8.29,186277,187517,188766,190023,191288,192609,193844
12,12,10,166022,3.47,168877,169358,169840,170324,170809,170687,171782
13,13,9,161797,4.78,165618,166264,166912,167563,168216,168450,169530
14,14,2,157932,0.27,158145,158180,158216,158251,158287,157349,158358

In [161]:

# Datos de poblaciÃ³n de 2010 y tasas de crecimiento para nuestro calculo 
data = {
    'Comuna': ['Comuna 13', 'Comuna 14', 'Comuna 12', 'Comuna 4', 'Comuna 1', 'Comuna 7', 'Comuna 8', 'Comuna 6', 'Comuna 11', 'Comuna 15', 'Comuna 3', 'Comuna 5', 'Comuna 10', 'Comuna 9', 'Comuna 2'],
    'Poblacion 2010': [231331, 225970, 200116, 218245, 205886, 220591, 187237, 176076, 189832, 182574, 187537, 179005, 166022, 161797, 157932],
    'Crecimiento 2010-2022': [14.64, 10.19, 18.07, 5.81, 8.44, -1.70, 9.40, 15.73, 7.19, 8.39, 4.22, 8.29, 3.47, 4.78, 0.27]
}

df_poblacion = pd.DataFrame(data)

# Convertir tasas de crecimiento en factores de crecimiento
df_poblacion['Factor de crecimiento'] = 1 + df_poblacion['Crecimiento 2010-2022'] / 100

# Calcular poblaciÃ³n para cada aÃ±o
for year in range(2016, 2022):
    n = year - 2010
    df_poblacion[f'Poblacion {year}'] = df_poblacion['Poblacion 2010'] * df_poblacion['Factor de crecimiento']**(n/12)

In [162]:
df_poblacion

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Factor de crecimiento,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,Comuna 13,231331,14.64,1.1464,247686.264822,250522.424102,253391.059141,256292.541807,259227.248224,262195.558826
1,Comuna 14,225970,10.19,1.1019,237203.928356,239129.813827,241071.335779,243028.621166,245001.797975,246990.995229
2,Comuna 12,200116,18.07,1.1807,217446.086117,220476.966723,223550.093374,226666.054919,229825.448413,233028.879235
3,Comuna 4,218245,5.81,1.0581,224495.510321,225554.529496,226618.544413,227687.578638,228761.655849,229840.799836
4,Comuna 1,205886,8.44,1.0844,214398.415091,215850.982427,217313.391029,218785.707572,220267.999184,221760.333447
5,Comuna 7,220591,-1.70,0.9830,218707.939187,218395.662249,218083.831189,217772.445369,217461.504154,217151.006909
6,Comuna 8,187237,9.40,1.0940,195839.519558,197311.218479,198793.976954,200287.878093,201793.005632,203309.443935
7,Comuna 6,176076,15.73,1.1573,189418.825818,191738.931523,194087.455157,196464.744796,198871.152783,201307.035776
8,Comuna 11,189832,7.19,1.0719,196538.011991,197678.489874,198825.585764,199979.338063,201139.785398,202306.966618
9,Comuna 15,182574,8.39,1.0839,190078.737500,191359.182404,192648.252886,193946.007054,195252.503402,196567.800821
10,Comuna 3,187537,4.22,1.0422,191453.142314,192113.737538,192776.612098,193441.773859,194109.230712,194778.990577
11,Comuna 5,179005,8.29,1.0829,186277.044528,187517.455650,188766.126618,190023.112434,191288.468466,192562.250452
12,Comuna 10,166022,3.47,1.0347,168877.917886,169358.657853,169840.766329,170324.247209,170809.104400,171295.341821
13,Comuna 9,161797,4.78,1.0478,165618.810759,166264.498990,166912.704528,167563.437187,168216.706818,168872.523312
14,Comuna 2,157932,0.27,1.0027,158145.064478,158180.603160,158216.149828,158251.704485,158287.267131,158322.837769

In [163]:
def clean_data(df):
    # Change column type to int64 for column: 'Poblacion 2016'
    df = df.astype({'Poblacion 2016': 'int64'})
    # Change column type to int64 for columns: 'Poblacion 2017', 'Poblacion 2018', 'Poblacion 2019'
    df = df.astype({'Poblacion 2017': 'int64', 'Poblacion 2018': 'int64', 'Poblacion 2019': 'int64'})
    # Change column type to int64 for column: 'Poblacion 2020'
    df = df.astype({'Poblacion 2020': 'int64'})
    df = df.astype({'Poblacion 2021': 'int64'})
    return df

df_poblacion = clean_data(df_poblacion.copy())
df_poblacion.head()

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Factor de crecimiento,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,Comuna 13,231331,14.64,1.1464,247686,250522,253391,256292,259227,262195
1,Comuna 14,225970,10.19,1.1019,237203,239129,241071,243028,245001,246990
2,Comuna 12,200116,18.07,1.1807,217446,220476,223550,226666,229825,233028
3,Comuna 4,218245,5.81,1.0581,224495,225554,226618,227687,228761,229840
4,Comuna 1,205886,8.44,1.0844,214398,215850,217313,218785,220267,221760

In [164]:
df_poblacion = df_poblacion.drop(columns=['Factor de crecimiento'])

In [165]:
df_poblacion['Comuna'] = df_poblacion['Comuna'].str.replace('Comuna', '')

In [166]:
df_poblacion

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,13,231331,14.64,247686,250522,253391,256292,259227,262195
1,14,225970,10.19,237203,239129,241071,243028,245001,246990
2,12,200116,18.07,217446,220476,223550,226666,229825,233028
3,4,218245,5.81,224495,225554,226618,227687,228761,229840
4,1,205886,8.44,214398,215850,217313,218785,220267,221760
5,7,220591,-1.70,218707,218395,218083,217772,217461,217151
6,8,187237,9.40,195839,197311,198793,200287,201793,203309
7,6,176076,15.73,189418,191738,194087,196464,198871,201307
8,11,189832,7.19,196538,197678,198825,199979,201139,202306
9,15,182574,8.39,190078,191359,192648,193946,195252,196567
10,3,187537,4.22,191453,192113,192776,193441,194109,194778
11,5,179005,8.29,186277,187517,188766,190023,191288,192562
12,10,166022,3.47,168877,169358,169840,170324,170809,171295
13,9,161797,4.78,165618,166264,166912,167563,168216,168872
14,2,157932,0.27,158145,158180,158216,158251,158287,158322

In [167]:
def clean_data(df):
    # Change column type to int64 for column: 'Comuna'
    df = df.astype({'Comuna': 'int64'})
    return df

df = clean_data(df_poblacion.copy())
df.head()

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,13,231331,14.64,247686,250522,253391,256292,259227,262195
1,14,225970,10.19,237203,239129,241071,243028,245001,246990
2,12,200116,18.07,217446,220476,223550,226666,229825,233028
3,4,218245,5.81,224495,225554,226618,227687,228761,229840
4,1,205886,8.44,214398,215850,217313,218785,220267,221760

In [168]:
df_poblacion.head()

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,13,231331,14.64,247686,250522,253391,256292,259227,262195
1,14,225970,10.19,237203,239129,241071,243028,245001,246990
2,12,200116,18.07,217446,220476,223550,226666,229825,233028
3,4,218245,5.81,224495,225554,226618,227687,228761,229840
4,1,205886,8.44,214398,215850,217313,218785,220267,221760

In [119]:
df_poblacion= df_poblacion.to_csv('Update_Poblacion.csv')